body {
  font: 16px mononoki, Monaco, Consolas, 'Lucida Grande', Helvetica, Arial, sans-serif;
  min-width: 345px;
}

a,
.btn-link,
.nav-tabs .nav-link {
  color: #5cb85c;
}

a:focus,
a:hover,
a:active,
.btn.active,
.btn.show,
.btn-link:focus,
.btn-link:hover,
.btn-link:active,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:active {
  color: #3d8b3d;
}

.btn {
  border-radius: 0;
}

.btn-outline-success {
  color: #5cb85c;
  border-color: #5cb85c;
}

.btn-outline-success:hover,
.btn-outline-success.active {
  color: #fff;
  border-color: #3d8b3d;
  background-color: #3d8b3d;
}

.form-check-input {
  margin-top: 3px;
}

.form-check-input:checked {
  border-color: #5cb85c;
  background-color: #5cb85c;
}

.form-control,
.form-select {
  border-radius: 0 !important;
}

.form-control:focus,
.form-select:focus {
  border-color: #5cb85c;
  box-shadow: 0 0 0 .25rem rgba(61, 139, 61, .25);
}

.header .container-fluid {
  max-width: 1200px;
  padding: 0 36px;
}

.header .navbar-expand-lg {
  padding: 12px 0;
}

.header .navbar-brand {
  font-size: 24px;
}

.header .navbar-brand img {
  margin-right: 6px;
  vertical-align: -7px;
}

.header .nav-link {
  font-size: 18px;
}

.header .login form {
  margin-block-end: 0;
}

.header .login .btn {
  margin-left: 12px;
}

.header .login .dropdown-toggle {
  font-size: 20px;
  text-decoration: none;
}

.header .login .dropdown-toggle::after {
  vertical-align: 3px;
}

.header .navbar-light .login .dropdown-toggle {
  color: #666;
  padding-left: 0;
  padding-right: 0;
}

.header .navbar-light .login .dropdown-toggle.show,
.header .navbar-light .login .dropdown-toggle:focus,
.header .navbar-light .login .dropdown-toggle:hover,
.header .navbar-light .login .dropdown-toggle:active {
  color: #000;
}

.header .navbar-dark .login .dropdown-toggle {
  color: #fff;
  padding-left: 0;
  padding-right: 0;
}

.header .navbar-dark .login .dropdown-toggle.show,
.header .navbar-dark .login .dropdown-toggle:focus,
.header .navbar-dark .login .dropdown-toggle:hover,
.header .navbar-dark .login .dropdown-toggle:active {
  color: #ccc;
}

.header .login .dropdown-menu {
  border-radius: 0;
}

.header .login .dropdown-menu .btn-link {
  color: orangered;
  height: 18px;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header .login .avatar {
  border-radius: 2.5px;
  margin-top: -4px;
  margin-right: 6px;
}

.content {
  flex: 1;
  width: 0;
  min-width: 0;
  max-width: 1200;
  padding: 24px 36px 96px;
}

.content .nav-tabs {
  font-size: 20px;
}

.content .nav-tabs .nav-link {
  color: #6c757d;
  border-width: 0;
  border-bottom-width: 2px;
  padding-left: 32px;
  padding-right: 32px;
}

.content .nav-tabs .nav-link:focus,
.content .nav-tabs .nav-link:hover,
.content .nav-tabs .nav-link:active {
  color: #373a3c;
  border-color: transparent;
}

.content .nav-tabs .nav-link.active {
  color: #5cb85c;
  border-color: #5cb85c;
}

.topicList a {
  color: #373a3c;
  text-decoration: none;
}

.topicList .list-group-item {
  word-break: break-all;
  border-radius: 0;
  border-left-width: 0;
  border-right-width: 0;
  background-color: transparent;
  padding: 24px 0;
}

.topicList .list-group-item:first-child {
  border-top-width: 0;
}

.topicList .list-group-item:last-child {
  border-bottom-width: 0;
}

.topicList .avatar {
  border-radius: 4px;
}

.topicList a.topicSummary {
  flex: 1;
  width: 0;
  min-width: 0;
}

.topicList .favorite {
  min-width: 96px;
  text-align: right;
}

.topicList .favorite .btn svg {
  margin-top: -2px;
  margin-right: 6px;
}

.topicList .updateTime {
  min-width: 96px;
  white-space: nowrap;
}

.noTopic {
  padding: 24px 0;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.profile,
.newTopic {
  max-width: 960px;
  margin: 0 auto;
}

.profile h2,
.profile h4,
.newTopic h2,
.newTopic h4 {
  text-align: center;
}

.profile .avatar,
.newTopic .avatar {
  border-radius: 6px;
}

.profile .form-label,
.newTopic .form-label {
  font-size: 18px;
}

.profile .form-select > option {
  font-size: 18px !important;
}

.profile .form-radio-control {
  border-color: transparent;
  padding-left: 0;
}

.profile .form-radio-control .form-check-label {
  cursor: pointer;
}

.newTopic .vditor.form-control {
  padding: 0;
}

.topicHeaderWrapper {
  color: #fff;
  background-color: #212529;
}

.topicHeader {
  flex: 1;
  max-width: 1200;
  word-break: break-all;
  padding: 36px;
}

.topicHeader .card {
  max-width: 190px;
  border: none;
  background-color: transparent;
}

.topicHeader .card .avatar {
  border-radius: 4px;
}

.topicHeader .card-body {
  padding: 8px;
}

.topicHeader .card-body .card-title {
  margin-bottom: 3px;
}

.topicContent {
  font-size: 18px;
  line-height: 1.8rem;
  word-break: break-all;
  padding-top: 12px;
}

.topicComment {
  font-size: 16px;
  line-height: 1.8rem;
  border-top: 1px solid rgba(0, 0, 0, .176);
  margin-top: 36px;
  padding: 36px 48px 0;
}

@media (max-width: 767.98px) {
  .topicComment {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 575.98px) {
  .topicComment {
    padding-left: 0;
    padding-right: 0;
  }
}

.topicComment .card {
  border-radius: 0;
}

.topicComment .card + .card {
  margin-top: 12px;
}

.topicComment .card pre {
  white-space: normal;
  word-break: break-all;
  margin-bottom: 0;
}

.topicComment .card-footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.topicComment .card-footer .btn-sm {
  height: 31px;
}

.commentOwner {
  line-height: 31px;
}

.commentOwner img {
  border-radius: 3px;
  margin-top: -4px;
  margin-right: 8px;
}

.commentOwner small {
  opacity: .75;
  margin-left: 10px;
}
