body {
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.header .navbar-expand-lg {
  padding: 12px 0;
}

.header .navbar-brand {
  font-size: 24px;
}

.header .navbar-brand img {
  margin-right: 6px;
  vertical-align: -7px;
}

.header .nav-link {
  font-size: 18px;
}

.header .login form {
  margin-block-end: 0;
}

.header .login .btn {
  margin-left: 12px;
}

.header .login .dropdown-toggle {
  font-size: 20px;
  text-decoration: none;
}

.header .login .dropdown-toggle::after {
  vertical-align: 3px;
}

.header .navbar-dark .login .dropdown-toggle {
  color: #fff;
}

.header .login .dropdown-menu .btn-link {
  color: orangered;
  height: 18px;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header .login .avatar {
  width: 20px;
  height: 20px;
  border-radius: 7.5px;
  margin-top: -3px;
  margin-right: 6px;
}

.content {
  padding: 24px 36px 96px;
}

.content .nav-tabs {
  font-size: 22px;
}

.topicList a {
  color: #373a3c;
  text-decoration: none;
}

.topicList .list-group-item {
  padding-top: 16px;
  padding-bottom: 16px;
}

.topicList .avatar {
  border-radius: 12px;
}

.topicList .updateTime {
  min-width: 96px;
  text-align: right;
  white-space: nowrap;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.profile,
.newTopic {
  max-width: 880px;
  margin: 0 auto;
}

.profile h2,
.profile h4,
.newTopic h2,
.newTopic h4 {
  text-align: center;
}

.profile .avatar,
.newTopic .avatar {
  border-radius: 16px;
}

.profile .form-label,
.newTopic .form-label {
  font-size: 18px;
}

.profile .form-select > option {
  font-size: 18px !important;
}

.profile .form-radio-control {
  border-color: transparent;
  padding-left: 0;
}

.profile .form-radio-control .form-check-label {
  cursor: pointer;
}

.newTopic .vditor.form-control {
  padding: 0;
}

.topicHeader {
  color: #fff;
  background-color: #212529;
  padding: 36px;
}

.topicHeader .card {
  max-width: 172px;
  border: none;
  background-color: transparent;
}

.topicHeader .card .avatar {
  border-radius: 8px;
}

.topicHeader .card-body {
  padding: 8px;
}

.topicHeader .card-body .card-title {
  margin-bottom: 3px;
}

.topicContent {
  font-size: 18px;
  line-height: 1.8rem;
}
