body {
  font: 16px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.header .navbar-dark {
  padding: 12px 0;
}

.header .navbar-brand {
  font-size: 24px;
}

.header .navbar-brand img {
  margin-right: 6px;
  vertical-align: -7px;
}

.header .nav-link {
  font-size: 18px;
}

.header .login form {
  margin-block-end: 0;
}

.header .login .btn {
  margin-left: 12px;
}

.header .login .dropdown-toggle {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.header .login .dropdown-toggle::after {
  vertical-align: 3px;
}

.header .login .dropdown-menu .btn-link {
  color: orangered;
  height: 18px;
  line-height: 18px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header .login .avatar {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  margin-top: -2px;
  margin-right: 6px;
}

.content {
  padding: 24px 36px;
}
