<html lang="en">
<link
  rel="stylesheet"
  href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="shortcut icon" href="/images/typescript.svg" type="image/x-icon" />
{{block 'head'}}
{{/block}}

{{block 'title'}}
<title>{{ title }}</title>
{{/block}}

{{include 'header.html'}}

<section class="content">
{{block 'content'}}
{{/block}}
</section>

<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
{{block 'footer'}}
{{/block}}
</html>
