{{block 'head'}}
<link
  rel="stylesheet"
  href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/sign.css" />
<link rel="shortcut icon" href="/images/typescript.svg" type="image/x-icon" />
{{/block}}

{{block 'content'}}
<main class="form-signin w-100 m-auto">
  <form action="/login" method="post">
    <img class="mb-4" src="/images/typescript.svg" alt="" width="72" height="57" />
    <!-- <img class="mb-4" src="/images/vite.svg" alt="" width="72" height="57" /> -->
    <h1 class="h3 mb-3 fw-normal">{{ title }}</h1>

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="name@example.com"
        value="{{ email }}"
        autofocus
      />
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
      />
      <label for="password">Password</label>
    </div>

    <!-- <div class="checkbox mb-3">
      <label> <input type="checkbox" value="remember-me" /> Remember me </label>
    </div> -->
    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
    <p class="mt-4 mb-3">New to MB? <a href="/register">Create an accout</a>.</p>
  </form>
</main>
{{/block}}

{{block 'footer'}}
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
{{/block}}
