{{extend 'layout.html'}}

{{block 'content'}}

{{include 'tabs.html'}}

<div class="topicList list-group">
  {{each formatTopics}}
  <div class="d-flex list-group-item list-group-item-action gap-3">
    <img src="{{ user.avatar }}" alt="avatar" title="{{ user.nickname }}" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex w-100 justify-content-between">
      <a href="/topic/{{ $value._id }}">
        <h5 class="mb-1">{{ $value.title }}</h5>
        <p class="mb-3 text-muted">{{ $value.content }}</p>
        <small class="text-muted">{{ $value.comment }} comments.</small>
      </a>
      <small class="updateTime text-muted">{{ $value.updateTimeStr }}</small>
    </div>
  </div>
  {{/each}}
</div>
{{/block}}
