{{extend 'layout.html'}}

{{block 'content'}}
<div class="mb-3 text-end">
  <a href="/topic/post" class="btn btn-dark">New Topic</a>
</div>

<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <a class="nav-link" href="/">All Topics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/myTopic">My Topics</a>
  </li>
</ul>

<div class="topicList list-group">
  <div class="d-flex list-group-item list-group-item-action gap-3">
    <img src="/images/typescript.svg" alt="avatar" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex w-100 justify-content-between">
      <a href="#">
        <h5 class="mb-1">List group item heading</h5>
        <p class="mb-3 text-muted">Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph.</p>
        <small class="text-muted">3 comments.</small>
      </a>
      <small class="updateTime text-muted">3 days ago</small>
    </div>
  </div>
  <div class="d-flex list-group-item list-group-item-action gap-3">
    <img src="/images/favicon.png" alt="avatar" width="32" height="32" class="rounded-circle flex-shrink-0">
    <div class="d-flex w-100 justify-content-between">
      <a href="#">
        <h5 class="mb-1">List group item heading</h5>
        <p class="mb-3 text-muted">Some placeholder content in a paragraph.</p>
        <small class="text-muted">0 comment.</small>
      </a>
      <small class="updateTime text-muted">3 days ago</small>
    </div>
  </div>
</div>
{{/block}}
