{{extend 'layout.html'}}

{{block 'head'}}
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/vditor/3.9.2/index.min.css">
{{/block}}

{{block 'content'}}
<div class="newTopic">
  <h2>{{ title }}</h2>
  <h4><img src="{{ user.avatar }}" alt="Avatar" title="{{ user.username }}" width="48" height="48"></h4>
  <form action="/topic/post" method="post">
    <input type="hidden" name="user" value="{{ user._id.toString() }}">
    <div class="mb-3">
      <label for="nickname" class="form-label">Initiator</label>
      <input type="text" class="form-control" id="nickname" disabled value="{{ user.nickname }}">
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="What's this topic about">
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <div id="vditor" class="form-control"></div>
      <textarea class="form-control" id="content" name="content" style="display: none;"></textarea>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-dark">Post</button>
    </div>
  </form>
</div>
{{/block}}

{{block 'footer'}}
<script src="https://cdn.bootcdn.net/ajax/libs/vditor/3.9.2/index.min.js"></script>
<script>
  new Vditor('vditor', {
    blur(val) {
      document.querySelector('#content').value = val
    },
    cache: { enable: false },
    input(val) {
      document.querySelector('#content').value = val
    },
    lang: 'en_US',
    minHeight: 480,
    placeholder: 'Write your topic content here (in markdown)',
    preview: {
      actions: [
        'desktop', 'tablet', 'mobile',
        // 'mp-wechat', 'zhihu'
      ]
    },
    // theme: 'dark',
    toolbar: [
      'emoji', 'headings', 'bold', 'italic', 'strike', '|', 'line', 'quote', 'list', 'ordered-list', 'check', 'outdent','indent', 'code', 'inline-code', '|',
      // 'insert-after', 'insert-before',
      'undo', 'redo', '|',
      // 'upload',
      'link', 'table', '|',
      // 'record',
      'edit-mode', 'both', 'preview', 'fullscreen', 'outline',
      // 'code-theme', 'content-theme',
      // 'export', 'devtools', 'info', 'help', 'br'
    ]
  })
</script>
{{/block}}
