<html lang="en">
{{block 'head'}}
<link
  rel="stylesheet"
  href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css"
/>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/sign.css" />
<link rel="shortcut icon" href="/images/nodejs.ico" type="image/x-icon" />
{{/block}}

{{block 'title'}}
<title>{{ title }} · CONDUIT</title>
{{/block}}

{{include 'header.html'}}

{{block 'content'}}
<main class="form-signin w-100 m-auto">
  <form action="/register" method="post">
    <img class="mb-4" src="/images/nodejs.ico" alt="Logo" title="Node.js" height="57" />

    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="name@example.com"
        autocomplete="off"
        autofocus
      />
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Username"
        autocomplete="off"
      />
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
      />
      <label for="password">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-dark" type="submit">Sign Up</button>
    <p class="mt-4 mb-3">Already have an account? <a href="/login">Sign In</a>.</p>
  </form>
</main>
{{/block}}

{{block 'footer'}}
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.3/js/bootstrap.min.js"></script>
{{/block}}
</html>
