{{extend 'layout.html'}}

{{block 'head'}}
<link rel="stylesheet" href="//cdn.bootcdn.net/ajax/libs/flatpickr/4.6.13/flatpickr.min.css" />
<link rel="stylesheet" href="/stylesheets/form.css" />
{{/block}}

{{block 'content'}}
<div class="settings">
  <h2>{{ title }}</h2>
  <h4><img class="avatar" src="{{ user.avatar }}" alt="Avatar" title="{{ user.username }}" width="64"></h4>
  <form action="/settings/update" method="post">
    <input type="hidden" name="_id" value="{{ user._id.toString() }}">
    <div class="mb-3">
      <label for="avatar" class="form-label">Avatar</label>
      <select id="avatar" name="avatar" class="form-select">
        {{each AVATAR}}
        <option value="{{ $value.src }}" {{if (user.avatar === $value.src)}}selected{{/if}}>
          {{ $value.title }}
        </option>
        {{/each}}
      </select>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" disabled value="{{ user.email }}">
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}">
    </div>
    <div class="mb-3">
      <label for="nickname" class="form-label">Nickname</label>
      <input type="text" class="form-control" id="nickname" name="nickname" value="{{ user.nickname }}">
    </div>
    <div class="mb-3">
      <label for="gender" class="form-label">Gender</label>
      <div class="form-control form-radio-control" id="gender">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gender" value={{1}} {{if (user.gender === 1)}}checked{{/if}}>Male
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gender" value={{0}} {{if (user.gender === 0)}}checked{{/if}}>Female
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gender" value={{-1}} {{if (user.gender === -1)}}checked{{/if}}>Secret
          </label>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="birthday" class="form-label">Birthday</label>
      <input type="text" class="form-control" id="birthday" name="birthday" placeholder="2016-03-14" value="{{ user.birthday }}">
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="number" class="form-control" id="phone" name="phone" placeholder="13800138000" value="{{ user.phone }}">
    </div>
    <div class="mb-3">
      <label for="job" class="form-label">Job</label>
      <input type="text" class="form-control" id="job" name="job" placeholder="What do you do" value="{{ user.job }}">
    </div>
    <div class="mb-3">
      <label for="bio" class="form-label">Bio</label>
      <textarea class="form-control" id="bio" name="bio" cols="30" rows="10" placeholder="Short bio about you">{{ user.bio }}</textarea>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="A new password, if you wanna change">
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-dark">Update</button>
    </div>
  </form>
</div>
{{/block}}

{{block 'footer'}}
<script src="//cdn.bootcdn.net/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
<script>
document.querySelector('#birthday').flatpickr()
document.querySelector('#avatar').addEventListener('change', e => {
  document.querySelector('.settings .avatar').setAttribute('src', e.target.value)
})
</script>
{{/block}}
