<div class="text-end">
  <a href="/topic/initiate" class="btn btn-dark">New Topic</a>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a
      href="/profile/{{ theUser?.username }}"
      {{if pathname === `/profile/${theUser?.username}`}}
        class="nav-link active"
      {{else}}
        class="nav-link"
      {{/if}}
    >Topics</a>
  </li>
  <li class="nav-item">
    <a
      href="/profile/{{ theUser?.username }}/favorites"
      {{if pathname === `/profile/${theUser?.username}/favorites`}}
        class="nav-link active"
      {{else}}
        class="nav-link"
      {{/if}}
    >Favorites</a>
  </li>
</ul>
