{{extend 'layout.html'}}

{{block 'head'}}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vditor@3.9.2/dist/index.css"> -->
<link rel="stylesheet" href="/stylesheets/topicDetail.css" />
{{/block}}

{{block 'header'}}
<div class="d-flex justify-content-center topicHeaderWrapper">
  <div class="topicHeader">
    <h2>{{ topic?.title }}</h2>
    <div class="card mt-5">
      <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
          <img
            alt="avatar"
            class="avatar"
            src="{{ topic?.user?.avatar }}"
            title="{{ topic?.user?.username }}"
            width="32"
            height="32"
          >
        </div>
        <div>
          <div class="card-body">
            <h5 class="card-title">{{ topic?.user?.nickname }}</h5>
            <p class="card-text">
              <small class="text-muted">
                {{ topic?.createTime?.toLocaleString() }}
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/block}}

{{block 'content'}}
<div id="topicContent" class="topicContent">
  <textarea name="content" id="content" style="display: none;">{{ topic?.content }}</textarea>
</div>

{{if (user || comments?.length)}}
<div class="topicComment">
  {{if user}}
  <form class="card" action="/topic/comment" method="post">
    <input type="hidden" name="topic" value="{{ topic?._id.toString() }}">
    <input type="hidden" name="user" value="{{ user?._id.toString() }}">
    <div class="card-body">
      <div class="card-text">
        <textarea class="form-control" name="content" id="content" rows="6"></textarea>
      </div>
    </div>
    <div class="d-flex card-footer justify-content-between text-muted">
      <div class="commentOwner">
        <img
          alt="avatar"
          class="avatar"
          src="{{ user?.avatar }}"
          title="{{ user?.username }}"
          width="24"
          height="24"
        >{{ user?.nickname }}
      </div>
      <button class="btn btn-sm btn-dark" type="submit">Post Comment</button>
    </div>
  </form>
  {{/if}}

  {{each comments}}
  <div class="card">
    <div class="card-body">
      <div class="card-text"><pre>{{ $value?.content }}</pre></div>
    </div>
    <div class="d-flex card-footer justify-content-between text-muted">
      <div class="commentOwner">
        <img
          alt="avatar"
          class="avatar"
          src="{{ $value?.user?.avatar }}"
          title="{{ $value?.user?.username }}"
          width="24"
          height="24"
        >{{
          $value?.user?.nickname
        }}<small>{{
          $value?.createTime?.toLocaleString()
        }}</small>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}
{{/block}}

{{block 'footer'}}
<script src="https://cdn.jsdelivr.net/npm/vditor@3.9.2/dist/index.min.js"></script>
<script>
  const content = document.querySelector('#content').value
  Vditor.preview(document.querySelector('#topicContent'), content, {
    cdn: 'https://cdn.jsdelivr.net/npm/vditor@3.9.2',
    lang: 'en_US'
  })
</script>
{{/block}}
